* {
  box-sizing: border-box;
}

body {
  font-family: 'verdana', monospace;
  text-align: center;
  /*width: 900px;*/
}

main {
  /*background-color: #dadada;*/
  width: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*overflow: hidden;*/
}

ul {
  position: relative;
  padding: 0;
}

li {
  border: 5px solid orange;
  padding: 5;
  /*height: 10px;*/
  position: relative;
  display: inline-block;
  margin: -3px;
  width: 400px;
  height: 80px;
  text-align: center;
  font-size: 50px
}

/*Style the form and input with button*/
form input, button{
  display: block;
  margin: 10px auto;
  width: 150px;
  text-align: center;
}

input {
  /*background-color: grey;*/
  padding: 2px;
  margin: 10px;
}

button {
  top: 100px;
}
