* {
  box-sizing: border-box;
}

body {
  font-family: 'verdana', monospace;
  text-align: center;
  /*width: 900px;*/
}

main {
  /*background-color: #dadada;*/
  width: 900;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*overflow: hidden;*/
}

ul {
  position: relative;
  padding: 0;
}

li {
  border: 5px solid orange;
  padding: 5;
  /*height: 10px;*/
  position: relative;
  display: inline-block;
  margin: -3px;
  width: 400px;
  height: 80px;
  text-align: center;
  font-size: 50px
}

/*Style the form and input with button*/
form input, button{
  display: block;
  margin: 10px auto;
  width: 150px;
  text-align: center;
}

input {
  /*background-color: grey;*/
  padding: 2px;
  margin: 10px;
}

button {
  top: 100px;
}

.timer {
  /*background-color: grey;*/
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.score {
  padding: 10px;
  /*background-color: yellow;*/
  border: 2px solid blue;
  width: 100;
  text-align: center;
  margin: 25px;
  width: 150px;
  display: block;
  /*margin: 0 auto;*/
  margin-left: auto;
  margin-right: auto;
}

.start {
  padding: 25px;
  background-color: green;
  border: 1px solid black;
  width: 200px;
  text-align: center;
  display: block;
  /*margin: 0 auto;*/
  margin-left: auto;
  margin-right: auto;
}
